@font-face {
    font-family: Prime-Regular;
    src: url(../Fonts/Prime/Prime-Regular.ttf);
}

@font-face {
    font-family: Gogoia-Regular;
    src: url(../Fonts/Gogoia/GOGOIA-Regular.ttf);
}

html {
    background-color: #222629;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Prime-Regular;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
    background: #474b4f;
}

header .logo {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: #edf5e1;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.6s;
}

header #toggle {
    position: relative;
    width: 30px;
    height: 30px;
}

header #toggle:before {
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 2px;
    background: #edf5e1;
}

header #toggle:after {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 2px;
    background: #edf5e1;
}

.banner.active header #toggle:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.banner.active header #toggle:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    /*background: url(../Images/...);*/
    background: #222629;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}

.banner.active {
    transform: translateX(-300px);
}

#navigation {
    position: fixed;
    top: 0;
    right: -200px;
    width: 300px;
    height: 100vh;
    background: #6b6e70;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

#navigation.active {
    right: 0;
}

.footer.active {
    transform: translateX(-300px);
}
.footer
{
    position: relative;
    float: left;
    top: -2em;
    margin-bottom: -2em;
    z-index: 10000;
    width: 100%;
    font-size: 80%;
    text-align: center;
    transition: 0.5s;
}

#navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

#navigation ul li {
    list-style: none;
}

#navigation ul li a {
    text-decoration: none;
    display: inline-block;
    color: #86c232;
    font-size: 2.5em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 30px;
}

.content {
    max-width: 800px;
    margin-left: 50px;
}

.content h2 {
    color: #edf5e1;
    font-size: 2.5em;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-top: 1em;
}

.content h2 span {
    color: #86c232;
    font-size: 1.2em;
}

.content p {
    color: #edf5e1;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.5;
}

.content a {
    color: #edf5e1;
    font-size: 2.5em;
    margin: 10px;
    text-decoration: none;
    background: linear-gradient(20deg, #86c232, #61892f);
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 2px;
    border-radius: 40px;
    box-shadow: 10px 10px 10px #000000;
}

.content a:hover {
    box-shadow: 15px 15px 15px #000000;
}


.content ul {
    position: relative;
    display: flex;
    flex-direction: row;
    float: right;
}

.content ul li {
    list-style: none;
    display: inline-block;
    color: #86c232;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    border:  1px solid #edf5e1;
    margin: 3px;
}

.content ul li:hover {
    background-color: #86c232;
    color: #222629;
}


.btn {
    color: #edf5e1;
    position: relative;
    display: flex;
    justify-content: center;
    top: 2em;
}

.btn a {
    font-size: 2em;
    max-width: 300px;
    padding: 10px ;
    position: relative;
    letter-spacing: 2px;
    border-radius: 30px;
    background: linear-gradient(20deg, #86c232, #61892f);
    box-shadow: 10px 10px 10px #000000;
}

.btn a:hover {
    box-shadow: 15px 15px 15px #000000;
}

#contact_content {
    width: 100%;
    position: absolute;
    top: 8em;
    left: 0;
    transition: 0.6s;

}

#contact_content p {
    color: #edf5e1;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-top: 1em;
    text-align: center;
}

#contact_content h2 {
    text-align: center;
    color: #edf5e1;
    font-size: 2.1em;
    letter-spacing: 2px;
    line-height: 1.5;
}
.form_Container {
    width: 100%;
    padding-top: 10em;

}

.top_form,
.mid_form,
.bottom_form {
    width: 100%;
    min-height: 65px;
    margin:10px 0;
}

.form_Container input,
.form_Container textarea {
    padding: 15px 5px;
    box-sizing: border-box;
    width: 100%;
    border:  2px solid #edf5e1;
    border-radius: 2px;
    outline: none;
    transition: 0.6s;
    font-size: 1em;
}

.form_Container input:focus,
.form_Container textarea:focus {
    border-color: #86c232;
    box-shadow: 10px 10px 10px #000000;
}

.form_Container .label {
    color: #edf5e1;
    font-size: 1.5em;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.top_form .inner_form {
    width: 250px;
    float: left;
    margin-right: 5%;
}

.top_form .inner_form:last-child {
    margin-right: 300px;
}

.mid_form .inner_form {
    padding-top: 20px;
}

.bottom_form textarea {
    height: 100px;
}

.sci {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    bottom: 30px;
    right: 100px;
}

.sci li {
    list-style: none;
}

.sci li a {
    position: relative;
    display: grid;
    place-items: center;
    transition: 0.5s;
    width: 55px;
    height: 55px;
    border: 1px solid #6b6e70;
    margin: 10px 0 0;
}

.sci li a:hover {
    background: #6b6e70;
}

.sci li a img {
    max-width: 50px;
    /*filter: invert(1);*/
    /*mix-blend-mode: difference;*/
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20em;
}

.container .box {
    position: relative;
    width: 20em;
    height: 24em;
    background-color: transparent;
}

.container .box .card_ContentBX {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6b6e70;
    z-index: 5;
    transition: transform 0.5s;
    transform-origin: top;
    transform: scaleY(0);
}

.container .box:hover .card_ContentBX {
    transition: transform 0.5s;
    transform-origin: bottom;
    transform: scaleY(1);
}

.container .box .card_ContentBX .card_Content {
    position: relative;
    padding: 20px 60px;

}

.container .box .card_ContentBX .card_Content h2 {
    color: #edf5e1;
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.container .box .card_ContentBX .card_Content p {
    color: #edf5e1;
    /*font-weight: 300;*/
    font-size: 1.5em;
    /*line-height: 0.1;*/
    width: 20em;
}

.card_Face img {
    width: 30em;
    display: block;
    background: transparent;
    padding: 8px;
    border: 1px solid #86c232;
    box-shadow: 10px 10px 10px #000000;
}

.portfolio_Column {
    margin: 8em 8em 8em 5em;
}

.infoBox {
    margin-bottom: 10em;
}

