@font-face {
    font-family: Prime-Regular;
    src: url(../Fonts/Prime/Prime-Regular.ttf);
}

@font-face {
    font-family: Gogoia-Regular;
    src: url(../Fonts/Gogoia/GOGOIA-Regular.ttf);
}

div {
    font-family: Prime-Regular;
    padding-left: 0.2%;
    letter-spacing: 0.1em;
    color: greenyellow;
}


html {
    font-family: Prime-Regular, Arial, sans-serif;
    background: #000000;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust:100%

}

body {
    margin:0;
}


.sidebar {
    width: 100%;
    height: 2em;
    position: fixed;
    margin-top: -4em;
    padding-top: 2em;
    background-color: black;
    -webkit-transition: background-color 600ms;
    transition: background-color 600ms;
    color: greenyellow;
    font-size: 1.2em;
    text-align: center;
}


.sidebar_item {
    font-family: Prime-Regular;
    position: fixed;
    right: 0;
    margin-top: -4em;
    margin-right: 2%;
}


.button {
    z-index: 100;
    position: relative;
    font-size: 2em;
    background-color: transparent;
    text-align: center;
    color: white;
    border: none;
}
.button:active {

}

.button:hover {
    color: greenyellow;
    transform: rotate(90deg);
}


#dropdown_content {
    position: fixed;
    z-index: 10;
    opacity: 0.5;
    right:0%;
    background: #000000;
    border-radius: 10%;
    height: 20%;
}

.dropdown_item {
    text-align: center;
    list-style: none;
    padding-top: 1em;
    margin-right: 2em;
}

.dropdown_item a:hover {
    text-decoration: underline;

}

.dropdown_item a {
    text-align: left;
    padding: 0% 2% 0% 2%;
    font-family: Prime-Regular;
    color: greenyellow;
    font-size: 1.5em;
    text-decoration: none;
}



.bodyInfo {
    /*background-color: #fafafa;*/

}

#About-Me {
    /*background-color: blue;*/
    text-align: center;
    float: left;
    margin:5% 5% 5% 5%;
    width: 30%;
    padding-right: 20%;
    /*opacity: 50%;*/
}

#Portrait-Section {
    border-radius: 10%;
    margin: 4em 1em 0em 2em;
    /*background-color: red;*/
    /*color: red;*/


}

#Computer-Skill {
    /*background-color: blue;*/
    text-align: center;
    float: right;
    margin:5% 5% 5% 5%;
    width: 30%;
    padding-left: 20%;
    /*opacity: 50%;*/
}

#CompSkill-Section {
    border-radius: 10%;
    margin: 4em 1em 0em 2em;
    /*background-color: red;*/
    /*color: red;*/


}

#Resume {
    /*background-color: blue;*/
    text-align: center;
    float: left;
    margin:5% 5% 5% 5%;
    width: 30%;
    padding-right: 20%;
    /*opacity: 50%;*/
}

#Res-Section {
    border-radius: 10%;
    margin: 4em 1em 0em 2em;
    /*background-color: red;*/
    /*color: red;*/


}

#discrete_event {
    /*background-color: blue;*/
    text-align: center;
    float: right;
    margin:5% 5% 5% 5%;
    width: 30%;
    padding-left: 20%;
    /*opacity: 50%;*/
}

#DisEv-Section {
    border-radius: 10%;
    margin: 4em 1em 0em 2em;
    /*background-color: red;*/
    /*color: red;*/


}
#resume_game-container {
    text-align: center;
}

#resume_game {
    /*background-color: blue;*/
    margin:5% 5% 5% 5%;
    text-align: center;
    width: 50%;
    display: inline-block;
}


#RES-GAME-Section {
    border-radius: 10%;
    margin: 4em 1em 0em 2em;
    /*background-color: red;*/
    /*color: red;*/
}


#School {
    /*background-color: blue;*/
    text-align: center;
    float: right;
    margin:5% 5% 5% 5%;
    width: 30%;
    padding-left: 20%;
    /*opacity: 50%;*/
}

#School-Section {
    border-radius: 10%;
    margin: 4em 1em 0em 2em;
    /*background-color: red;*/
    /*color: red;*/


}

#video-container {
    margin-top: 4em;
    padding-top: 3em;
    /*background: red;*/
    z-index: -10;
    align-self: center;
}
video {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 500px;
}